{% extends "layout.html.twig" %}

{% block content %}
	<div class="container">

		<form method="post" action="{{ path('tomato:reset_password_handle') }}">
			<div>
				<label for="username">Username</label>
				<input type="text" name="username" />
			</div>

			<div>
				<input type="submit" name="submit" value="Reset password" />
			</div>
		</form>

	</div>
{% endblock %}
