{% extends base_template %}

{% block description %}site, Privacy Policy{% endblock %}

{% block title %}site | Privacy Policy{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto mb-5">
				<h1 class="text-center display-4">Privacy Policy</h1>
				<p>If you require any more information or have any questions about our privacy policy, please feel free to contact us by email at contact@site.</p>
				<p>At site we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information collected and recorded by site and how we use it.</p>
				<h2>Log Files</h2>
				<p>Like many other websites, site makes use of log files. These files merely log visitors to the site — usually a standard procedure for hosting companies and a part of hosting services' analytics. The information inside the log files includes internet protocol (IP) addresses, browser type, date/time stamp, referring/exit pages, and possibly the number of clicks. This information is used to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable.</p>
				<h2>Cookies</h2>
				<p>Cookies are small pieces of information which are stored by your browser on your computer. Many websites generate cookies which will be stored on your hard drive so that on subsequent visits to that site it will recognize that you have previously used that site and make it easier for you to use that site.

					The site website use two types of cookies: Temporary cookies which remain in the cookie file of your browser until you have finished that particular visit to the site website, and which allow you ease of use of the site website and avoid you having to re-enter information and the like.

					Persistent Cookies help us to recognize you and allows us to personalize the presentation and content of the site websites to match your preferences. </p>

				<h2>Our Advertising Partners</h2>
				<p>Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include:</p>
				<ul><li>Google</li></ul>
				<p>You may consult Google's own privacy policy here: <a href="https://privacy.google.com">https://privacy.google.com</a>.</p>

				<h2>DoubleClick DART Cookie</h2>
				<ul>
					<li>Google, as a third party vendor, uses cookies to serve ads on site</li>
					<li>Google's use of the DART cookie enables it to serve ads to our site's visitors based upon their visit to site and other sites on the Internet</li>
					<li>Users may read more about the use of the DART cookie by visiting Google's advertising policy at the following URL: <a href="http://www.google.com/privacy_ads.html" title="Opt out of the Dart Cookie">http://www.google.com/privacy_ads.html</a></li>
					<li>Users may opt out of the use of the DART cookie for interest-based advertising by visiting <a href="http://www.google.com/ads/preferences/" target="_blank">Ads Settings</a>.</li>
				</ul>


				<p>If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites.</p>
				<h2>General Data Protection Regulation (GDPR)</h2>
				In order to comply with the General Data Protection Regulation, we have taken the following steps:
				<ul>
					<li>We have restricted the use of cookies for key functionalities of the website, fraud and attack prevention</li>
					<li>Any data used for analytics purposes has been completely anonymized</li>
				</ul>
				<h2>Children's Information</h2>
				<p>We believe it is important to provide added protection for children online. We encourage parents and guardians to spend time online with their children to observe, participate in and/or monitor and guide their online activity.</p>
				<p>site does not knowingly collect any personally identifiable information from children under the age of 13. If a parent or guardian believes that site has in its database the personally-identifiable information of a child under the age of 13, please contact us immediately (using the contact in the first paragraph) and we will use our best efforts to promptly remove such information from our records.</p>
				<h2>Online Privacy Policy Only</h2>
				<p>This privacy policy applies only to our online activities and is valid for visitors to our website and regarding information shared and/or collected there.
					This policy does not apply to any information collected offline or via channels other than this website.</p>
				<h2>Consent</h2>
				<p>By using our website, you hereby consent to our privacy policy and agree to its terms.</p>
				<h2>Update</h2>
				<p>This Privacy Policy was last updated on: Friday, May 25th, 2018.</p>
				<p><em>Should we update, amend or make any changes to our privacy policy, those changes will be posted here.</em></p>


			</div>
		</div>
	</div>
{% endblock %}
